.serviceCard {
  position: absolute;
  top: 130px;
  left: 60px;
  z-index: 5;
  max-width: 300px;
  padding: 25px 25px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(11, 71, 13, 0.15);
  border-radius: 20px;
}

.serviceCard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}

.serviceCard-photo {
  margin: 0 auto;
  margin-bottom: 20px;
}

.serviceCard-photo img {
  border-radius: 10px;
  width: 240px;
  height: 190px;
}

.serviceCard-nameAge {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.info {
  margin-bottom: 12px;
}

.title {
  display: inline;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-right: 5px;
}

.body {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.serviceCard-btn {
  margin-top: 35px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.serviceCard-btn button {
  padding: 10px 30px;
  background: #60a191;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 10px;
}
