.profileModal {
  display: none;
}

.profileModalActive {
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(11, 71, 13, 0.15);
  background-color: #fff;
  position: absolute;
  right: 40px;
  top: 90px;
}

.profileModal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
}

.profileModal-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 20px;
}

.profileModal-logout button {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  background: #71b9a7;
  color: #ffffff;
  padding: 9px 30px;
}
