.mapPage {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.mapPage-create {
  position: absolute;
  z-index: 500;
  right: 60px;
  bottom: 60px;
}

.mapPage-create * {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  border-radius: 10px;
  background: #255d4e;
  color: #ffffff;
  padding: 12px 20px;
}

@media (max-width: 430px) {
  .mapPage-create {
    right: 40px;
    bottom: 40px;
  }

  .mapPage-create * {
    font-size: 13px;
    line-height: 22px;
    border-radius: 10px;
    background: #255d4e;
    color: #ffffff;
    padding: 12px 20px;
  }
}
