.navbar {
  position: fixed;
  top: 0;
  z-index: 1200;
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
}

.navbar-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: rgb(0, 0, 0);
}

.navbar-burger-open img {
  width: 40px;
}

.navbar-burger-open {
  display: none;
}

.navbar-burger {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  top: 82px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(11, 71, 13, 0.15);
}

.navbar-burger * {
  text-align: center;
  font-size: 20px;
}

.navbar-logo {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
}

.navbar-navigation {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 35px;
}

.navbar-navigation * {
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease;
  color: rgb(0, 0, 0);
}

.navbar-navigation *:hover {
  color: #78ab9d;
}

.navbar-account {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-account * {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.navbar-signup {
  border-radius: 10px;
  color: #255d4e;
  border: 1px solid #255d4e;
  padding: 5px 15px;
  transition: all 0.3s ease-in;
}

.navbar-signup:hover {
  background-color: #255d4e;
  color: #fff;
}

.navbar-login:hover {
  transition: all 0.3s ease;
  color: #78ab9d;
}

.navbar-profile-icon {
  background: none;
}

@media (max-width: 750px) {
  .navbar-burger-open {
    display: block;
  }

  .navbar-navigation {
    display: none;
  }

  .navbar-content {
    justify-content: unset;
  }

  .navbar-logo {
    flex: 1;
  }

  .navbar-account {
    margin-right: 20px;
  }
}

@media (max-width: 420px) {
  .navbar-login {
    display: none;
  }
}
